.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

.build/
Packages/
.swiftpm/

Pods/

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

*.swp
*.lock
